$color-green: #096b30;
$color-green-light: #ddffaa;
$color-red: #e25c5c;
$color-bg-dark: #414548;
$color-bg-light: #fafafa;
$color-bg-backdrop: #d9d9d9da;

$color-black: #000000;
$color-white: #ffffff;

$radius: 15px;
